@model IEnumerable<Medicare.Models.Consultation>

@{
    ViewData["Title"] = "Index";
}



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MobileNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsultationStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrId)
            </th>
            <th>
               Consultation Fee  
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultationStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrList.DrName)
            </td>
            <td>
                499
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ConsultationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ConsultationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ConsultationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
