@model Medicare.Models.Specialist

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Specialist</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialityDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SpecialityDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpecialityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
